h1{
    color: #9b59b6;
}

p{
    font-size: 16px;
    font-family: Verdana;
    font-style: italic;
}

p::first-letter{
    font-size: 200%;
    color: #2980b9;
}

p::before{
    content: "Topic: ";
}

.challenge2{
    /*background: #36c;
    background:
    linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
    linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
    linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,  
    #36c;
    background-size: 15px 30px;*/
    text-indent: 10%;
}

h1::first-child{
    text-align: center;
}